.message-input {
    &__container {
        background-color: white;
        height: 50px;
        padding: 0 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &__input {
        z-index: 2;
        width: 100%;
        background-color: #ededed;
        border: none;
        border-radius: 25px;
        font-size: inherit;
        font-family: inherit;
        padding: 5px 15px;
        outline: none;
    }

    &__send-button {
        font-weight: 500;
        padding: 0 5px;
        z-index: 2;
        color: black;
        font-size: inherit;
        font-family: inherit;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
