.chat {
    &__container {
        height: 100%;
        width: 100%;
        background-color: white;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:after {
            content: "";
            background: linear-gradient(
                0deg,
                rgba(255, 189, 0, 1) 0%,
                rgba(255, 56, 0, 1) 100%
            );
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            mix-blend-mode: screen;
            pointer-events: none;
            z-index: 1;
        }
    }

    &__message {
        &__container {
            position: relative;
            display: flex;
            flex-direction: row;
            margin: 2px 0;

            &.left {
                justify-content: flex-start;
                z-index: 2;
            }

            &.right {
                justify-content: flex-end;
                z-index: 0;
            }
        }

        &__content {
            padding: 10px;
            max-width: min(500px, 90%);
            word-wrap: break-word;
            border-radius: 15px;

            &.left {
                background-color: #e1e1e1;
                color: black;
            }

            &.right {
                background-color: black;
                color: white;
            }
        }
    }
}
